dashboard/flow.json
[{"id":"7895dd8a.451454","type":"tab","label":"sshsFlow","disabled":false,"info":""},{"id":"3b39778f.bddf28","type":"http in","z":"7895dd8a.451454","name":"","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1280,"wires":[["7a796d48.c36b04"]]},{"id":"9722bf2a.50b8c","type":"http response","z":"7895dd8a.451454","name":"","statusCode":"","headers":{},"x":610,"y":1280,"wires":[]},{"id":"6485e434.23bbbc","type":"ui_button","z":"7895dd8a.451454","name":"monitorClearButton","group":"3c8cd019.c1b05","order":2,"width":0,"height":0,"passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":480,"wires":[["fae8451d.dd14c8"]]},{"id":"7a796d48.c36b04","type":"function","z":"7895dd8a.451454","name":"weatherFunction","func":"msg.payload = \"{\\\"temperature\\\":\" + flow.get(\"weatherTemperature\") + \",\\\"humidity\\\":\" + flow.get(\"weatherHumidity\") + \",\\\"wind\\\":\" + flow.get(\"weatherWind\") + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1280,"wires":[["9722bf2a.50b8c"]]},{"id":"30afe11d.ad0e3e","type":"ui_chart","z":"7895dd8a.451454","name":"monitorChart","group":"3c8cd019.c1b05","order":1,"width":"12","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":480,"wires":[[]]},{"id":"fae8451d.dd14c8","type":"function","z":"7895dd8a.451454","name":"monitorClearFunction","func":"var msg1 = {}\nvar msg2 = {}\n\nmsg1.payload = [];\nmsg1.topic = 'Line1';\n\nmsg2.payload = [];\nmsg2.topic = 'Line2';\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":660,"y":480,"wires":[["30afe11d.ad0e3e"],["30afe11d.ad0e3e"]]},{"id":"78e7c6ef.94f1b8","type":"ui_slider","z":"7895dd8a.451454","name":"weatherTemperature","label":"temperature","tooltip":"","group":"88cb72cf.7c678","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-10","max":10,"step":1,"x":660,"y":20,"wires":[["e332efbb.f24b5"]]},{"id":"c7783661.643f28","type":"ui_slider","z":"7895dd8a.451454","name":"weatherHumidity","label":"humidity","tooltip":"","group":"88cb72cf.7c678","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-10","max":10,"step":1,"x":650,"y":80,"wires":[["6b23dd11.2fde24"]]},{"id":"de4d42c3.c78e2","type":"ui_slider","z":"7895dd8a.451454","name":"weatherWind","label":"wind","tooltip":"","group":"88cb72cf.7c678","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-10","max":10,"step":1,"x":630,"y":140,"wires":[["3066dd71.bef0b2"]]},{"id":"c74765bd.1cf3f8","type":"ui_gauge","z":"7895dd8a.451454","d":true,"name":"weatherFactorGauge","group":"88cb72cf.7c678","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":"0","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":20,"wires":[]},{"id":"f5644a3f.6eb4c8","type":"inject","z":"7895dd8a.451454","name":"init","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":540,"wires":[["7c188b48.47e1e4","6485e434.23bbbc","6d2766a7.c32c68","56ca74d2.e7436c","7894de9a.052c1","2ef4dad8.c83716","7a0d4a8d.122954","7d109ed1.fd7c4"]]},{"id":"e332efbb.f24b5","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"weatherTemperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":20,"wires":[["303b3def.2c0892"]]},{"id":"6b23dd11.2fde24","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"weatherHumidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":80,"wires":[["303b3def.2c0892"]]},{"id":"3066dd71.bef0b2","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"weatherWind","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[["303b3def.2c0892"]]},{"id":"8a7e1b71.663cc8","type":"inject","z":"7895dd8a.451454","name":"simulatorFastTimer","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1040,"wires":[["c1e8bbbf.950f88","327c8f5d.42c17","d907d3e2.42ce6"]]},{"id":"bb13c2d6.e2c8c","type":"ui_slider","z":"7895dd8a.451454","name":"tankTemperature","label":"tank temperature","tooltip":"","group":"2c29c188.39a11e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":650,"y":200,"wires":[["cf7f0d4a.d0ffe"]]},{"id":"c1e8bbbf.950f88","type":"function","z":"7895dd8a.451454","name":"simulatorTankTemperatureFunction","func":"if (flow.get(\"gatewaySimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/tank/temperature\";\n    msg.payload = flow.get(\"simulatorTankTemperature\");\n    return msg;\n}\n\nreturn;","outputs":1,"noerr":0,"x":700,"y":1100,"wires":[["ff531388.12901"]]},{"id":"f900a858.82fde8","type":"function","z":"7895dd8a.451454","name":"simulatorTankForecastFunction","func":"if (flow.get(\"serverSimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/tank/forecast\";\n    msg.payload = flow.get(\"simulatorTankForecast\");\n    return msg;\n}\n\nreturn;","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[["ff531388.12901"]]},{"id":"49fcace4.fd13f4","type":"ui_slider","z":"7895dd8a.451454","name":"tankForecast","label":"tank forecast","tooltip":"","group":"2c29c188.39a11e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":630,"y":340,"wires":[["20d18972.e36956"]]},{"id":"20d18972.e36956","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"simulatorTankForecast","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":340,"wires":[[]]},{"id":"b88c38a9.99c498","type":"ui_switch","z":"7895dd8a.451454","name":"gatewaySimulatorSwitch","label":"gateway simulator","tooltip":"","group":"2c29c188.39a11e","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":280,"wires":[["b63f1134.206d2"]]},{"id":"b63f1134.206d2","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"gatewaySimulatorEnabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":280,"wires":[[]]},{"id":"a7487696.737328","type":"ui_switch","z":"7895dd8a.451454","name":"serverSimulatorSwitch","label":"server simulator","tooltip":"","group":"2c29c188.39a11e","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":420,"wires":[["ee7d1300.8fbac"]]},{"id":"ee7d1300.8fbac","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"serverSimulatorEnabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":420,"wires":[[]]},{"id":"303b3def.2c0892","type":"function","z":"7895dd8a.451454","name":"weatherFactorFunction","func":"msg.payload = Math.round((flow.get(\"weatherTemperature\") * 1 + flow.get(\"weatherHumidity\") * 0.1 + flow.get(\"weatherWind\") * 0.2) * 100) / 100;\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":20,"wires":[["c74765bd.1cf3f8"]]},{"id":"12bce71b.c66d19","type":"inject","z":"7895dd8a.451454","name":"simulatorSlowTimer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1160,"wires":[["f900a858.82fde8","3c5006f3.83537a","b0d99484.b69558"]]},{"id":"3f277d2f.043e62","type":"ui_gauge","z":"7895dd8a.451454","name":"","group":"31699212.4e064e","order":1,"width":0,"height":0,"gtype":"gage","title":"tank temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":540,"wires":[]},{"id":"4c71556d.3104fc","type":"ui_slider","z":"7895dd8a.451454","name":"boilerThreshold","label":"boiler threshold","tooltip":"","group":"31699212.4e064e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":640,"y":720,"wires":[["7bc2c97b.60bdb8"]]},{"id":"94052105.b3941","type":"ui_slider","z":"7895dd8a.451454","name":"utilityThreshold","label":"utility threshold","tooltip":"","group":"957b6839.57ccd8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":640,"y":900,"wires":[["f55309ab.7026c8"]]},{"id":"8fb56f58.f8ff6","type":"ui_gauge","z":"7895dd8a.451454","name":"","group":"957b6839.57ccd8","order":1,"width":0,"height":0,"gtype":"gage","title":"tank forecast","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":600,"wires":[]},{"id":"d34442d6.d40a8","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"simulatorUtilityThreshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":960,"wires":[["fbee9de9.b5d5"]]},{"id":"7bfc4d26.275cd4","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"simulatorBoilerThreshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":780,"wires":[[]]},{"id":"b04089fa.c83118","type":"mqtt in","z":"7895dd8a.451454","name":"sshs/gateway","topic":"sshs/gateway/#","qos":"2","datatype":"auto","broker":"6afb0c33.8c7eb4","x":90,"y":740,"wires":[["1cf5d0ed.cf6e7f"]]},{"id":"ff531388.12901","type":"mqtt out","z":"7895dd8a.451454","name":"sshs/gateway","topic":"","qos":"","retain":"","broker":"6afb0c33.8c7eb4","x":1440,"y":980,"wires":[]},{"id":"1cf5d0ed.cf6e7f","type":"switch","z":"7895dd8a.451454","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sshs/gateway/tank/temperature","vt":"str"},{"t":"eq","v":"sshs/gateway/tank/forecast","vt":"str"},{"t":"eq","v":"sshs/gateway/boiler/enabled","vt":"str"},{"t":"eq","v":"sshs/gateway/boiler/threshold","vt":"str"},{"t":"eq","v":"sshs/gateway/boiler/threshold/set","vt":"str"},{"t":"eq","v":"sshs/gateway/utility/enabled","vt":"str"},{"t":"eq","v":"sshs/gateway/utility/threshold","vt":"str"},{"t":"eq","v":"sshs/gateway/utility/threshold/set","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":330,"y":740,"wires":[["7a0d4a8d.122954"],["7d109ed1.fd7c4"],["10c5f2e5.0bbadd"],["4c71556d.3104fc"],["7bfc4d26.275cd4"],["1c890a84.c88875"],["94052105.b3941"],["d34442d6.d40a8"]]},{"id":"7bc2c97b.60bdb8","type":"function","z":"7895dd8a.451454","name":"setBoilerThresholdFunction","func":"if (typeof msg.topic === 'undefined') {\n    msg.topic = \"sshs/gateway/boiler/threshold/set\";\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":1080,"y":720,"wires":[["ff531388.12901"]]},{"id":"f55309ab.7026c8","type":"function","z":"7895dd8a.451454","name":"setUtilityThresholdFunction","func":"if (typeof msg.topic === 'undefined') {\n    msg.topic = \"sshs/gateway/utility/threshold/set\";\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":1080,"y":900,"wires":[["ff531388.12901"]]},{"id":"fbee9de9.b5d5","type":"function","z":"7895dd8a.451454","name":"simulatorUtilityThresholdFunction","func":"if (flow.get(\"gatewaySimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/utility/threshold\";\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":1100,"y":960,"wires":[["ff531388.12901"]]},{"id":"cf7f0d4a.d0ffe","type":"change","z":"7895dd8a.451454","name":"","rules":[{"t":"set","p":"simulatorTankTemperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":200,"wires":[[]]},{"id":"327c8f5d.42c17","type":"function","z":"7895dd8a.451454","name":"simulatorBoilerEnabledFunction","func":"if (flow.get(\"gatewaySimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/boiler/enabled\";\n    msg.payload = flow.get(\"tankTemperature\") < flow.get(\"simulatorBoilerThreshold\");\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":690,"y":1060,"wires":[["ff531388.12901"]]},{"id":"3c5006f3.83537a","type":"function","z":"7895dd8a.451454","name":"simulatorBoilerThresholdFunction","func":"if (flow.get(\"gatewaySimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/boiler/threshold\";\n    msg.payload = flow.get(\"simulatorBoilerThreshold\");\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":700,"y":1180,"wires":[["ff531388.12901"]]},{"id":"d907d3e2.42ce6","type":"function","z":"7895dd8a.451454","name":"simulatorUtilityEnabledFunction","func":"if (flow.get(\"gatewaySimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/utility/enabled\";\n    msg.payload = flow.get(\"tankForecast\") > flow.get(\"simulatorUtilityThreshold\");\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":690,"y":1020,"wires":[["ff531388.12901"]]},{"id":"b0d99484.b69558","type":"function","z":"7895dd8a.451454","name":"simulatorUtilityThresholdFunction","func":"if (flow.get(\"gatewaySimulatorEnabled\")) {\n    msg.topic = \"sshs/gateway/utility/threshold\";\n    msg.payload = flow.get(\"simulatorUtilityThreshold\");\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":700,"y":1220,"wires":[["ff531388.12901"]]},{"id":"7c188b48.47e1e4","type":"function","z":"7895dd8a.451454","name":"initGatewaySimulator","func":"flow.set(\"simulatorBoilerThreshold\", 45);\nflow.set(\"simulatorUtilityThreshold\", 60);\nreturn [{payload: 50}, {payload: false}];","outputs":2,"noerr":0,"x":360,"y":240,"wires":[["bb13c2d6.e2c8c"],["b88c38a9.99c498"]]},{"id":"10c5f2e5.0bbadd","type":"ui_text","z":"7895dd8a.451454","group":"31699212.4e064e","order":2,"width":0,"height":0,"name":"boilerEnabled","label":"boiler enabled","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":660,"wires":[]},{"id":"1c890a84.c88875","type":"ui_text","z":"7895dd8a.451454","group":"957b6839.57ccd8","order":3,"width":0,"height":0,"name":"utilityEnabled","label":"utility enabled","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":840,"wires":[]},{"id":"6d2766a7.c32c68","type":"function","z":"7895dd8a.451454","name":"initGatewayBoiler","func":"return [{payload: false}, {topic: \"init\", payload: 0}];","outputs":2,"noerr":0,"x":350,"y":620,"wires":[["10c5f2e5.0bbadd"],["4c71556d.3104fc"]]},{"id":"56ca74d2.e7436c","type":"function","z":"7895dd8a.451454","name":"initGatewayUtility","func":"return [{payload: false}, {topic: \"init\", payload: 0}];","outputs":2,"noerr":0,"x":350,"y":860,"wires":[["1c890a84.c88875"],["94052105.b3941"]]},{"id":"7894de9a.052c1","type":"function","z":"7895dd8a.451454","name":"initServerSimulator","func":"return [{payload: 80}, {payload: false}];","outputs":2,"noerr":0,"x":350,"y":380,"wires":[["49fcace4.fd13f4"],["a7487696.737328"]]},{"id":"7a0d4a8d.122954","type":"function","z":"7895dd8a.451454","name":"setTankTemperatureFunction","func":"if (msg.payload !== 0) {\n    msg.payload = Math.round(msg.payload * 100) / 100;\n}\nflow.set(\"tankTemperature\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["30afe11d.ad0e3e","3f277d2f.043e62"]]},{"id":"7d109ed1.fd7c4","type":"function","z":"7895dd8a.451454","name":"setTankForecastFunction","func":"if (msg.payload !== 0) {\n    msg.payload = Math.round(msg.payload * 100) / 100;\n}\nflow.set(\"tankForecast\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[["30afe11d.ad0e3e","8fb56f58.f8ff6"]]},{"id":"2ef4dad8.c83716","type":"function","z":"7895dd8a.451454","name":"initWeather","func":"return [{payload: 5}, {payload: 3}, {payload: 7}];","outputs":3,"noerr":0,"x":330,"y":80,"wires":[["78e7c6ef.94f1b8"],["c7783661.643f28"],["de4d42c3.c78e2"]]},{"id":"3c8cd019.c1b05","type":"ui_group","z":"","name":"Monitor","tab":"5309676e.d2e048","order":4,"disp":true,"width":"12","collapse":false},{"id":"88cb72cf.7c678","type":"ui_group","z":"","name":"Weather","tab":"5309676e.d2e048","order":3,"disp":true,"width":"12","collapse":false},{"id":"2c29c188.39a11e","type":"ui_group","z":"","name":"Simulators","tab":"5309676e.d2e048","order":5,"disp":true,"width":"12","collapse":true},{"id":"31699212.4e064e","type":"ui_group","z":"","name":"Gateway boiler","tab":"5309676e.d2e048","order":1,"disp":true,"width":"6","collapse":true},{"id":"957b6839.57ccd8","type":"ui_group","z":"","name":"Gateway utility","tab":"5309676e.d2e048","order":2,"disp":true,"width":"6","collapse":true},{"id":"6afb0c33.8c7eb4","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"8883","tls":"77545a55.9c4c34","clientid":"sshsDashboardClient","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5309676e.d2e048","type":"ui_tab","z":"","name":"Smart Solar Heating System","icon":"dashboard","disabled":false,"hidden":false},{"id":"77545a55.9c4c34","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]